JENKINS_USERNAME=<JENKINS_USERNAME>
JENKINS_PASSWORD=<JENKINS_PASSWORD>
JENKINS_SECRET_DOCKERHUB_USERNAME=<DOCKERHUB_USERNAME>
JENKINS_SECRET_DOCKERHUB_PASSWORD=<DOCKERHUB_PASSWORD>
JENKINS_SECRET_PVT_REGISTRY_URL=<JENKINS_SECRET_PVT_REGISTRY_URL>
JENKINS_SECRET_PVT_REGISTRY_USERNAME=<JENKINS_SECRET_PVT_REGISTRY_USERNAME>
JENKINS_SECRET_PVT_REGISTRY_PASSWORD=<JENKINS_SECRET_PVT_REGISTRY_PASSWORD>
JENKINS_SECRET_PVT_REGISTRY_ON_SELF_SIGNED_CERT=<JENKINS_SECRET_PVT_REGISTRY_ON_SELF_SIGNED_CERT>
JENKINS_SECRET_PVT_REPO_USERNAME=<JENKINS_SECRET_PVT_REPO_USERNAME>
JENKINS_SECRET_PVT_REPO_PASSWORD=<JENKINS_SECRET_PVT_REPO_PASSWORD>