HELP.md
target/
.mvn
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Node artifact files
node_modules/
dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.tanzu
.azure

### VS Code ###
.vscode/
mvnw
mvnw.cmd

.env
.bash_history
.local
*.nogit.*

.vmware-cna-saas
binaries/*
!binaries/.gitkeep 
!binaries/init.sh
!binaries/jenkinsinstall.sh
!binaries/jenkinsdelete.sh
!binaries/jenkinsk8ssetup.sh
!binaries/jenkins-robot-token-generator.sh
!binaries/credential.template
!binaries/credential.secret-text.template
!binaries/sample-java-pipeline-tbs.template
!binaries/sample-java-pipeline-docker.template
.kube/*
!.kube/.gitkeep 
.ssh/*
!.ssh/.gitkeep 
kubernetes/jenkins/*.credential.*


