<org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@1.7">
  <scope>GLOBAL</scope>
  <id>CREDENTIAL_ID</id>
  <description>CREDENTIAL_ID</description>
  <secret>CREDENTIAL_PASSWORD</secret>
</org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>